*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bgover{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color:hsl(0, 100%, 74%);
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 45%;
    color:#FFFFFF;

}
.text__headline{
    max-width:80% ;
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height:52px;
padding-bottom: 10px;
}
.text__content{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    max-width: 500px;
}
.box{
    max-height: 80%;
    width:35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box__tiral{
    color:#FFFFFF;
    width: 100%;
    border-radius: 10px;
    background-color: #5E54A4;
    height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 6px 0px #5c5a5a54;
}
.trial__text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.267857px;

color: #FFFFFF;
}
.tryFree{
    font-weight: 600;
}
.box__content{
   
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    height: 70%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 0px #5c5a5a54;
}
.box__content__form{

    height: 70%;
    width: 100%;
    color: 
    #3D3B48;
    
}
.input__field{
    width: 85%;
    margin: 20px;
    margin-left: 30px;
    max-height: 120px;
    margin-bottom: 30px;
}
.in{
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #3D3B48;
    border: #bab7d4c9 1.2px solid;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    
}
.field__name{
    margin-bottom:-10px;
}
.field__passwoard{
    margin-bottom:-30px;
}
.name{
    margin-top: 30px;
   
}
.password{
    margin-bottom: 15px;
}
.box__content__button{
    background-color: #38CC8B;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #FFFFFF;
    width: 90%;
    height: 50px;
    margin: 10px;
    margin-left: 18px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 3px 0px #498644c5;

}
.box__content__button:hover{
    opacity: 0.8;
}
.box_content__tos{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    
}

.tos{
    color:#BAB7D4;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;
}
.red
{
    color: #FF7979;
    
}
.message{
   
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color:#FF7979;  
    float: right;
    padding: 3px;
    padding-bottom:20px ;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
}
.password__message{
    margin-top: -15px;
}
.error{
   float: right;
   margin-top: -37px;
   margin-right: 15px;
   
}
.password__errorimage{
    margin-top: -52px;
}



    @media (max-width: 1165px){
    
        .bgover{
            height: 1000px;
            flex-direction: column;
            background-image: url("images/bg-intro-mobile.png");
        }
        .text{
            max-width: none;
            align-items: center;
            text-align: center;
        }
        .text__headline{
            max-width:350px;
            font-size: 16px;
            line-height: 32px;
            margin-bottom: 20px;
            margin-top: -159px;
        }
        .text__content{
            max-width: 280px;
            font-size: 12px;
            line-height: 19px;
            margin-bottom: 60px;
        }
        .box{
            width: 80%;
            height:40% ;  
            margin-top: 65px;  
        }  
        .box__content__form{
            margin-left: -17px;
        }
        .box__tiral{
            min-height: 85px;
            
        }
        .trial__text{
            max-width: 55vw;
        }

        .box__content__form{
            height: 80%;
        }
        .box__content{
            height: 500px;
        }
        .box__content__button{
            min-height: 50px;
        }
        .tos{
            max-width: 280px;
          
        }
        .box_content__tos{
            display: flex;
            justify-content: center;
        }

}
@media (max-width: 1165px) and (min-height:1001px){
    .bgover{height: 100vh;}
}
